body, html {
    height: 100% ;
    /* The image used */
    background-image: url("bgimg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Changing TextField Style and Making it Glow while focus*/
  
  
  input[type=text]{
  width:80%;
  border:2px solid gold;
  border-radius:4px;
  margin-left:5%;
  margin-right:5%;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);   
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  }
  
  #resizer{
      resize:both;
  }
  /* Creating Style for Button*/
  
  .block {
    display: block;
    width: 80%;
    margin-left:5%;
    margin-right:5%;
    border: none;
    border:2px solid gold;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  /*NAV BAR*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* When the browser is at least 600px and above */
    @media screen and (min-width: 600px) {

  }